<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Wireless Media - FED</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link type="text/css" href="http://localhost/git/assets/css/style.css?v=1.1" rel="stylesheet" />
  <link type="text/css" href="http://localhost/git/assets/css/responsive.css?/v=1.1" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/a9a3b687fb.js" crossorigin="anonymous"></script>
  <script src="http://localhost/wm-fed/assets/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div v-if="loading" id="app" class="global-container">
    <div class="filter-container">
      <div class="row">
        <div class="holder">
          <div @click="showDropdown()" class="filter" v-bind:class="[clicked ? 'showDropdown' : '' ]">
            <p class="preselected">{{selectOption}}</p>

          </div>
          <div class="dropdown" v-if="clicked == true">
            <p v-for="option in dropdown" v-bind:id="option" @click="function(){ selectOption = option; clicked = !clicked;}">{{option}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="app-container">
      <div class="row">
        <div v-for="box in boxes" v-bind:class="[box.is_featured == '1' ? 'recommended' : '' ]" v-bind:id="box.id" class="box box-3">
          <div class="featured" v-if="box.is_featured == '1'">
            <p>{{recommended}}</p>
          </div>
          <h2 id="title">{{box.name}}</h2>
          <div class="properties tv">
            <div class="image-wrapper">
              <img width="45" height="45" v-bind:src="tvImg" />
            </div>
            <div class="propertiesValue">
              <div class="valueWrapper">
                <ul>
                  <li v-for="tv in box.included" v-if="tv.product_category === 'tv'">{{tv.long_name}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="properties net">
            <div class="image-wrapper">
              <img width="45" height="45" v-bind:src="netImg" />
            </div>
            <div class="propertiesValue">
              <div class="valueWrapper">
                <ul>
                  <li v-for="net in box.included" v-if="net.product_category === 'net'">{{net.long_name}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="properties promotion" v-for="promotion in box.promotions" v-if="selectOption == 'Ugovor 24 meseca'">
            <img width="60px" v-bind:src="promotion.promotion_image" />
            <div class="promotion-text">
              {{promotion.promo_text}}
            </div>
          </div>
          <div class="properties price" v-bind:class="[selectOption == 'Ugovor 24 meseca' ? 'promotions' : '' ]">
            <p v-if="box.prices['old_price_recurring'][selectOption] != ''" class="oldPrice">{{box.prices['old_price_recurring'][selectOption]}} rsd/mes</p>
            <p class="regularPrice" v-bind:class="[selectOption == 'Ugovor 24 meseca' ? '24month' : '' ]">{{box.prices['price_recurring'][selectOption]}} rsd/mes</p>
          </div>
          <div v-if="selectOption == 'Ugovor 24 meseca'">
            <p>{{box.prices['old_price_promo_text']}}</p>
          </div>
          <a href="#" class="btn">Naručite</a>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        loading: null,
        allData: null,
        recommended: null,
        selectOption: null,
        dropdown: null,
        boxes: null,
        tvImg: null,
        netImg: null,
        prices: null,
        clicked: false
      }
    },
    computed: {
      showDropdown() {
        this.clicked = !this.clicked;
      },
      getDataForSpecificContract() {
        this.clicked = !this.clicked;
      }
    },
    mounted() {
      axios
        // .get('https://cors.io/?http://www.mocky.io/v2/5e8465c23000008400cf4395')
        .get('http://localhost/wm-fed/assets/data.json')
        .then(response => {
          this.loading = true;
          console.log(response.data);
          this.allData = this.response;
          this.recommended = response.data.promo_text;
          this.selectOption = response.data.contract_length.preselected_contract_length;
          this.dropdown = response.data.contract_length.contract_length_options;
          this.boxes = response.data.items;
          this.tvImg = response.data.assets.tv_category;
          this.netImg = response.data.assets.net_category;
          for (i = 0; i < response.data.items.length; i++) {
            var promocions = response.data.items[i].promotions;
            for (var j = 0; j < promocions.length; j++) {
              var value = promocions[j].promo_text.slice(3, promocions[j].promo_text.length - 4);
              promocions[j].promo_text = value;
              console.log(promocions[j].promo_text);
            }
          }
          for (i = 0; i < response.data.items.length; i++) {
            var price = response.data.items[i].prices;
            var oldPromoText = price['old_price_promo_text'].slice(3, price['old_price_promo_text'].length - 4);
            price['old_price_promo_text'] = oldPromoText;

          }
        })
        .catch(error => {
          this.loading = false;
        })
    }
  })
</script>

</html>
