$color_white: #ffffff;
$color-lightGrey: #d3d3d3;
$color-darkGrey: #8b8b8b;
$color_beige: #f8f4ec;
$color_blue: #102542;
$color_purple: #702b68;
$ff-poppins: "Poppins", sans-serif;
@mixin transition() {
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
@mixin customTransition($transition, $property, $duration) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin transform($x, $y) {
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}

* {
  box-sizing: border-box;
}

body {
  .filter-container {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;

    .row {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      -ms-flex-pack: end !important;
      justify-content: flex-end !important;

      .holder {
        position: relative;
        pointer-events: all;

        &:after {
          content: "\f078";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          display: block;
          position: absolute;
          top: 50%;
          right: 10px;
          @include transform(0, -50%);
          color: $color-darkGrey;
          font-size: 15px;
          pointer-events: none;
        }

        select {
          background-color: $color_beige;
          width: 180px;
          height: 40px;
          border-radius: 10px;
          font-size: 15px;
          padding: 0 15px;
          border: 1px solid transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
        }

        select:focus {
          outline: none;
          -webkit-box-shadow: 0 0 9px 0 rgba(112,43,104,1);
          -moz-box-shadow: 0 0 9px 0 rgba(112,43,104,1);
          box-shadow: 0 0 9px 0 rgba(112,43,104,1);
          border: 1px solid $color_purple;
        }
      }
    }
  }

  .app-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;

    .row {
      display: -ms-flexbox !important;
      display: flex !important;
      flex-wrap: wrap;
      margin: 0 -15px;

      .box-3 {
        display: -ms-flexbox !important;
        display: flex !important;
        flex-wrap: wrap;
        width: 100%;
        max-width: 340px;
        background: $color_beige;
        padding: 20px;
        margin: 0 15px;
        border-radius: 10px;
        text-align: center;
        @include transition();

        &:hover {
          -webkit-box-shadow: 0 0 9px 0 rgba(112,43,104,1);
          -moz-box-shadow: 0 0 9px 0 rgba(112,43,104,1);
          box-shadow: 0 0 9px 0 rgba(112,43,104,1);
          @include transition();
        }

        h2 {
          color: $color_purple;
          font-family: $ff-poppins;
          font-size: 48px;
          font-weight: 700;
          font-style: italic;
          line-height: 1;
          display: block;
          width: 100%;
          max-width: 214px;
        }

        .properties {
          display: -ms-flexbox !important;
          display: flex !important;
          width: 100%;
          padding: 30px 0;
          border-top: 1px solid $color-lightGrey;

          .image-wrapper {
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            -ms-flex-pack: start !important;
            justify-content: flex-start !important;
          }

          .propertiesValue {
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            -ms-flex-pack: end !important;
            justify-content: flex-end !important;

            p,
            ul li {
              color: $color_blue;
              font-size: 16px;
              line-height: 1.1;
              font-weight: 400;
              font-family: $ff-poppins;
            }
          }
        }

        a.btn {
          display: block;
          width: 100%;
          max-width: 100%;
          color: $color_white;
          background-color: $color_purple;
          padding: 8px 0;
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          border-radius: 10px;
          text-decoration: none;
          cursor: pointer;
          border: 1px solid transparent;
          @include transition();

          &:hover {
            border: 1px solid $color_purple;
            color: $color_purple;
            background-color: $color_white;
            @include transition();
          }
        }
      }
    }
  }
}
